<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>My Website</h1>
    <!-- <form id="awesome" action="http://127.0.0.1:5000" method="post">
      <button type="submit" name="button_value" value="pokemon">amazing</button>
    </form> -->
    <textarea id="editor"></textarea>
    <form id="myForm" method="post" action="http://127.0.0.1:5000/pokemon.html">
      <p id="amazing" style="display: none"></p>
      <button onclick="printData()">add</button>
    </form>
    <!-- <button type="button" onclick="printData()">print</button> -->
    <textarea
      form="myForm"
      name="cool"
      id="cool"
      style="display: none"></textarea>
    <script>
      const easyMDE = new EasyMDE({
        element: document.querySelector("#editor"),
      });

      function printData() {
        const data = easyMDE.markdown(easyMDE.value());
        document.querySelector("#amazing").innerHTML = data;
        const text = document.querySelector("#amazing").innerHTML;
        document.querySelector("#cool").innerHTML = text;
      }
    </script>
  </body>
</html>
