.text{
    position: relative;
    top: 11vw;
    width: 75vw;
    right: 10vw;
}

h2{
    position: absolute;
    right: 6vw;
    top: 6vw;
}

h3{
    margin-bottom: 0.5vw;
    margin-top: 1.5vw;
}
p{
    font-size: 1vw;
}