body
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 350vh;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #25232E;
  direction: rtl;
}

/*========styles changes for small screem size=======*/
@media only screen and (max-width: 768px) 
{

}
