@import url('https://fonts.cdnfonts.com/css/rubik-one');

/* baymax and gradiant background */
.screen1{
  height: 100vh;
  width: 99vw;
}


.baymax-pic
{
  position: absolute;
  right: 49.5vw;
  bottom: 251vh;
  z-index: 3;
  height: 35vw;
  width: 30vw;
}

.gradiant-pic
{
  position: absolute;
  right: 52vw;
  top: 0;
  z-index: 2;
  height: 100vh;
  width: 25vw;
}

/* header - navbar and search bar */
.header
{
  position:fixed;
  top: 0;
  width: 100%;
  height: 14.5vh;
  display: flex;
  flex-direction: row;
  background-color:#25232E;
  z-index: 1;

}

/* right section - nav bar */
.right-section
{
  text-align: center;
  display: flex;
  position: fixed;
  top: 8.5vh;
  height: 6vh;
  right: 10vw;


}
.nav-bar
{
color: #D0D0D0;
font-family: Heebo, sans-serif;
font-size: 95%;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
padding-left: 1vw;
padding-left: 1vw;
cursor: pointer;

}

/* left section - search bar */
.left-section
{
  position: fixed;
  height: 6vh;
  width: 15vw; 
  left: 3vw;
  top: 8.5vh;
 
}
.search-bar
{
  text-align: right;
  background: #25232E;
  border-color:white;
  border-style: solid;
  border-radius: 8px;
  border-width: 1.5px;
  height: 45%;
  width: 70%; 
  min-height: 15px;
  transition: 0.5s;
  color: white;

}
.search-bar:focus{
  width: 90%; 
}
.search-icon{
  height: 2vh;
  position:inherit;
  top: 8.5vh;
    left: 3vw;
}

/* body - text and button */
.text{
  position: absolute;
  width: 35vw; 
  top: 18vh;
  right: 7vw;
  z-index: 0;

}

h1.website-header{
  color: white;
  font-family: 'Rubik One';
    font-size: 550%;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 4vh;

}

p{
  color: white;
  font-family: 'Heebo';
  font-size: 100%;
}

.to-arsenal-button{
  position: relative;
  margin-top: 4vh;
  font-family:'Rubik One', sans-serif ;
  font-weight: bold;
  background-color: #D0D0D0;
  border-style: solid;
  border-color: #D0D0D0;
  border-radius: 5px;
  right: 12vw;
  height: 2vw;
  width: 5vw;
  cursor: pointer;

}

/* 2nd screen */
.screen2{
  height: 100vh;
  width: 99vw;
  z-index: -5;
}

.card-picture{
  margin-top: 2px;
  margin-left: 30px;
  opacity: 0.9;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #D0D0D0;
  height: 11vw;
  width: 20vw;
  object-fit: fill;
}
.slider{
  display: flex;
  position: relative;
  top: 10vh;
  right: 8vw;
  height: 12vw;
  width: 80vw;
  overflow: hidden;
  justify-content: space-between;
}

.next-btn {
  height: 2.5vw;
  position: absolute;
  right: 4.5vw;
  top: 120vh; 
  cursor: pointer;

}

 .prev-btn{
  transform: rotateY(180deg);
  height: 2.5vw;
  cursor: pointer;
  position: absolute;
  left: 7.5vw;
  top: 120vh;
}