@import url('https://fonts.cdnfonts.com/css/rubik-one');

/* ====screens==== */
.screen1{
  height: 100vh;
  width: 99vw;
}
.screen2{
  height: 100vh;
  width: 100%;
}
.screen3{
  position: absolute;
  top: 220vh;
  width: 100%;
}

/* baymax and gradiant background */
.baymax-pic
{
  position: absolute;
  right: 32vw;
  bottom: 251vh;
  z-index: 3;
  height: 39vw;
}

.gradiant-pic
{
  position: absolute;
  right: 52vw;
  top: 0;
  z-index: 2;
  height: 100vh;
  width: 25vw;
}
.search-bar
{
  text-align: right;
  background: #25232E;
  border-color:white;
  border-style: solid;
  border-radius: 8px;
  border-width: 1.5px;
  height: 3.25vh;
  width: 20vh; 
  transition: 0.5s;
  color: white;
  position: fixed; 
  left: 5vw;
  top: 8.25vh;
}
.search-bar:focus{
  width:35vh; 
  left: 2.25vw;
}
/* body - text and button */
.text{
  position: absolute;
  width: 35vw; 
  top: 18vh;
  right: 7vw;
}

h1.website-header{
  margin-top: 4vh;
}


.to-arsenal-button{
  position: relative;
  margin-top: 4vh;
  font-family: 'Rubik One';
  font-weight: bold;
  background-color: #D0D0D0;
  border-style: solid;
  border-color: #D0D0D0;
  border-radius: 5px;
  right: 12vw;
  height: 2vw;
  width: 5vw;
  cursor: pointer;
}

/* 2nd screen */
.card-pic{
  height: 8.5vw;
  min-width: 15vw;
  margin-right: 1vw;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.10);
  cursor: pointer;
}
.scroller{
  width: 80vw;
  display: flex;
  overflow-y: hidden;
  scroll-behavior: smooth;
  position: absolute;
  right: 8vw;
  top: 55vw;
}

.scroller::-webkit-scrollbar{
  display: none;
}

.left{
  cursor: pointer;
  width: 2.5vw;
  height: 2.5vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  top: 58vw;
  left: 8vw;
}
.right{
  cursor: pointer;
  width: 2.5vw;
  height: 2.5vw;
  position: absolute;
  top: 58vw;
  right: 6.5vw;
}

.people-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 143vh;
  right: 10vw;
  height: 32vw;
  width: 80vw;
}

.first-row , .third-row{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
  height: 10vw;
  width: 72vw;
}

.second-row{
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 10vw;
  width: 63vw;
  justify-content: space-evenly;

}

.first-row .img, .second-row .img, .third-row img{
  border-radius: 50%;
  min-width: 0;
  height: 7vw;
  width: 7vw;  
  object-fit: cover;
  transition: opacity 0.25s;
}

.img-container{
  border-radius: 50%;
  min-width: 0;
  height: 7vw;
  width: 7vw;  
  background-color:#e3e0e0;
}

.person-name{
  font-size: 0.8vw;
  margin-top: 0;
  margin-bottom: 0.25vw;
  font-weight: bold;
  width: 6vw;
  position: relative;
  right: 0.7vw;
  text-align: center;
  color: #ffffff;
}
.person-job{
  font-size: 0.8vw;
  position: relative;
  bottom: 6.5vw;
  width: 6.5vw;
  right: 0.2vw;
  z-index: 2;
  cursor: pointer;
  color: #25232E;
  font-weight: bold;
  text-align: center;
  opacity: 0;
}

.img-container:hover .img{
  opacity: 0;
  cursor: pointer;
}
.img-container:hover .person-job{
  opacity: 1;
}


/* 3nd screen */
.rect-background {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 0px;
  flex-grow: 1;
  width:100%;
  height: 20vw;
  position: absolute;
  border: 0px solid rgba(255, 255, 255, 0.10);
  background: linear-gradient(240deg, rgba(159, 144, 176, 0.43) 4.57%, rgba(148, 124, 174, 0.00) 93.23%);
}

.question-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 40px;
  border-radius: 32px;
  width: 18vw;
  height: 18vw;
  position: absolute;
  right: 6vw;
  border: 2px solid rgba(255, 255, 255, 0.10);
  background: linear-gradient(134deg, #2F2F3B 0%, rgba(47, 47, 59, 0.00) 100%)
}

.answer-rect {
  width: 15vw;
  height: 2.25vw;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.10);
  background: #454452;
  margin-bottom: 0.5vw; 
  transition: 0.5s;
}
.answer-rect:hover{
  cursor: pointer;
}
.answer-rect:active{
  background: #6b6a7a;
}

.hi-pic{
  height: 18vw;
  position: absolute;
  top: 6vw;
  right: 45vw;
}

.questioner-header{
  width: 630px;
  text-align: center;
  position: absolute;
  left: 4vw;
  top: 5vw;
    color: white;
  font-family: 'Rubik One';
  font-size: 300%;
  font-weight: 600;
}

.questioner-per{
  width: 630px;
  text-align: center;
  position: absolute;
  left: 4vw;
  top: 15vw;
}

.cards-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 80vh;
  right: 10vw;
  width: 80%;
}

.card-rect{
  display: flex;
    align-items: center;
    padding: 0px 45px;
    flex-direction: column;
    width: 18vw;
    height: 28vw;
    border-radius: 32px;
    background: linear-gradient(134deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.25);
}

.events-header{
  position: absolute;
  top: 150vh;
}

.event-rect-container{
  display: flex;
  justify-content: center;
  column-gap: 40px;
  position: absolute;
  top: 160vh;
  width: 100%;
}
.event-rect{
  display: flex;
  flex-direction: column;
  width: 12vw;
  height: 12vw;
  border-radius: 32px;
  background: linear-gradient(134deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.00) 100%);
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.25);
}

.contact-frame {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 12vw;
  position: absolute;
  top: 30vh;
  width: 100%;
  margin-top: 150px;
  border-radius: 32px 32px 0px 0px;
  background: #D0D0D0;
}


