@import url('https://fonts.cdnfonts.com/css/rubik-one');

/* baymax and gradiant background */
.screen1{
  height: 100vh;
  width: 99vw;
}


.baymax-pic
{
  position: absolute;
  right: 49.5vw;
  bottom: 251vh;
  z-index: 3;
  height: 35vw;
  width: 30vw;
}

.gradiant-pic
{
  position: absolute;
  right: 52vw;
  top: 0;
  z-index: 2;
  height: 100vh;
  width: 25vw;
}

/* header - navbar and search bar */
.header
{
  position:fixed;
  top: 0;
  width: 100%;
  height: 14.5vh;
  display: flex;
  flex-direction: row;
  background-color:#25232E;
  z-index: 1;

}

/* right section - nav bar */
.right-section
{
  text-align: center;
  display: flex;
  position: fixed;
  top: 8.5vh;
  height: 6vh;
  right: 10vw;


}
.nav-bar
{
color: #D0D0D0;
font-family: Heebo, sans-serif;
font-size: 95%;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
padding-left: 1vw;
padding-left: 1vw;
cursor: pointer;
}

/* left section - search bar */
.left-section
{
  position: fixed;
  height: 6vh;
  width: 15vw; 
  left: 3vw;
  top: 8.5vh;


 
}
.search-bar
{
  text-align: right;
  background: #25232E;
  border-color:white;
  border-style: solid;
  border-radius: 8px;
  border-width: 1.5px;
  height: 45%;
  width: 70%; 
  min-height: 15px;
  transition: 0.5s;
  color: white;

}
.search-bar:focus{
  width: 90%; 
}
.search-icon{
  height: 2vh;
  position:inherit;
  top: 8.5vh;
    left: 3vw;
}

/* body - text and button */
.text{
  position: absolute;
  width: 35vw; 
  top: 18vh;
  right: 7vw;
  z-index: 0;

}

h1.website-header{
  color: white;
  font-family: 'Rubik One';
    font-size: 550%;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 4vh;

}

p{
  color: white;
  font-family: 'Heebo';
  font-size: 100%;
}

.to-arsenal-button{
  position: relative;
  margin-top: 4vh;
  font-family:'Rubik One', sans-serif ;
  font-weight: bold;
  background-color: #D0D0D0;
  border-style: solid;
  border-color: #D0D0D0;
  border-radius: 5px;
  right: 12vw;
  height: 2vw;
  width: 5vw;
  cursor: pointer;

}

/* 2nd screen */
.screen2{
  height: 100vh;
  width: 99vw;
  z-index: 0; 
}


.another-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.wrapper{
  width: 90vw;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  gap:5vh;
  overflow: hidden;

}
.carousel .card{
  list-style: none;
  border-radius: 25px;
  border-style: solid;
  border-color: #D0D0D0;
  height:15vw ;
  pointer-events: auto;
  position: relative;
  z-index: 2;
  cursor: pointer;

}

.card .img img{
  width:20vw ;
  height: 11vw;
  object-fit:cover;
}

.prev-btn {
  height: 2.5vw;
  position: absolute;
  right: 4.5vw;
  top: 120vh; 
  cursor: pointer;

}

 .next-btn{
  transform: rotateY(180deg);
  height: 2.5vw;
  cursor: pointer;
  position: absolute;
  left: 7.5vw;
  top: 140vh;
}

.people-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 160vh;
  right: 10vw;
  height: 19.5vw;
  width: 80vw;
}

.first-row , .third-row{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
  height: 6.5vw;
  width: 64vw;
}

.second-row{
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 6.5vw;
  width: 56vw;
  justify-content: space-evenly;

}

.first-row .img, .second-row .img, .third-row img{
  border-radius: 50%;
  margin-left: 0.25vw;
  min-width: 0;
  height: 6vw;
  width: 6vw;  
  object-fit: cover;
}

.first-row .img:hover, .second-row .img:hover, .third-row img:hover{
  height: 8vw;
  width: 8vw;
  cursor: pointer;
  z-index: 1;
}

.screen2 h2{
  font-family: Heebo, sans-serif;
  color: #ffffff;
  position: absolute;
  top:148vh;
}

.screen3{
  position: absolute;
  top: 200vh;
  width: 100%;
}
.rect-background {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 0px;
  flex-grow: 1;
  width:100%;
  height: 20vw;
  position: absolute;
  top: 10vh;
  border: 0px solid rgba(255, 255, 255, 0.10);
  background: linear-gradient(240deg, rgba(159, 144, 176, 0.43) 4.57%, rgba(148, 124, 174, 0.00) 93.23%);
}

.question-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 40px;
  border-radius: 32px;
  width: 18vw;
  height: 18vw;
  margin-right: 5vw;
  border: 2px solid rgba(255, 255, 255, 0.10);
  background: linear-gradient(134deg, #2F2F3B 0%, rgba(47, 47, 59, 0.00) 100%)
}

.question-rect {
  display: flex;
  width: auto;
  height: 2.25vw;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.10);
  background: #454452;
  position: relative;
  align-items: center;
}
.hi-pic{
  height: 18vw;
  position: absolute;
  top: 8vw;
  right: 41vw;
}