.page-header{
    position: absolute;
    top: 6.5vw;
    right: 5vw;
}
.row-container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 12vw;
    right: 3vw;
    margin-bottom: 12vw;
    width: 92vw;
}
.row-header{
    position: relative;
    right: 1vw;
}
.card-pic{
    height: 8.5vw;
    min-width: 15vw;
    max-width: 15vw;
    margin-right: 1vw;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    cursor: pointer;
  }

  .left{
    cursor: pointer;
    width: 2.5vw;
    height: 2.5vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    top: 6.75vw;
    right: 86.5vw;
  }
  .right{
    cursor: pointer;
    width: 2.5vw;
    height: 2.5vw;
    position: absolute;
    top: 6.75vw;
    right: 3.5vw;
  }

  .scroller{
    width: 82vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: absolute;
    top: 3vw;
    right: 5vw;
  }
  
  .scroller::-webkit-scrollbar{
    display: none;
  }
  
  .card-container{
    display: flex;
    flex-direction: column;
  }
  
  .card-label{
    display: flex;
    gap: 0.5vw;
    position: relative;
    bottom: 0.8vw;
  }

  .card-name{
    position: relative;
    bottom: 0.6vw;
    right: 2.25vw;
  }

  .card-name h3{
    font-size: 0.9vw;
  }

  .card-container p{
    font-size: 60%;
    font-weight: bold;
    position: relative;
    bottom: 1vw;
    right: 2vw;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
  }  
  p.label{
    border-radius: 8px;
    background-color:#49494A;
  }

.search-bar
{
  text-align: right;
  background: #25232E;
  border-color:white;
  border-style: solid;
  border-radius: 8px;
  border-width: 1.5px;
  height: 3vh;
  width: 60.5vw; 
  transition: 0.5s;
  color: white;
  position: fixed; 
  left: 5vw;
  top: 9.5vh;
}
